<a href="https://colab.research.google.com/github/elgab-code/daa_2021_1/blob/master/23Octubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")

In [ ]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

In [ ]:
def ejemoplo3( n ):
  x = n * 2 
  y = 0
  for m in range ( 100 ):
    y = x - n
  return y

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

In [ ]:
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

In [ ]:
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo6( 500 )

In [ ]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count

In [ ]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
ejemplo8(numeros)

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador


print(ejemplo9( 5 ))

In [ ]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count